.overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
  overflow: scroll;
  padding-bottom: 12rem;
}

.modal {
  position: relative;
  width: auto;
  padding: 4rem;
  margin: 10rem 2.4rem 0;
  background-color: #fff;
  border-radius: 1.6rem;

  @media screen and (min-width: 768px) {
    padding: 4rem 6rem;
    margin: 20.4rem 2.4rem auto;
  }

  &__exit-btn {
    height: 2.5rem;

    z-index: 1;
    position: absolute;
    border: none;
    background-color: #fff;
    cursor: pointer;
    top: 1rem;
    right: 1rem;
  }
}

.show {
  opacity: 1;
  pointer-events: all;
}
