@import '../../App.scss';

.card {
  @include box;
  position: relative;
  height: 40rem;
  padding: 0;
  background-color: var(--background-color-2);

  &__title {
    flex: 20%;
    color: var(--gold-color);
    background-color: var(--background-color-1);

    display: grid;
    place-content: center;
  }

  &__text {
    flex: 60%;
    display: grid;
    place-content: center;
    cursor: pointer;
  }

  &__delete-btn {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 1.6rem;
    padding: 0.6em;
  }

  &__details-container {
    flex: 20%;
    padding: 0 2rem;
    color: var(--white-color);
    background-color: var(--background-color-1);

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__like-container {
    display: flex;
    align-items: center;
    column-gap: 1rem;
  }

  &__like-icon {
    cursor: pointer;
    height: 3rem;
    width: 3rem;
  }
}
