.home {
  display: flex;
  flex-direction: column;

  &__input {
    margin-top: 4rem;
    width: 30rem;
    align-self: center;
  }

  &__book-list {
    padding: 4rem;

    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 4rem;

    @media screen and (min-width: 600px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (min-width: 900px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media screen and (min-width: 1400px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
