.profile {
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
  padding: 4rem;

  &__user-container {
    width: 100%;
    max-width: 60rem;
    padding: 2rem;
    color: var(--gold-color);
    background-color: var(--background-color-1);

    align-self: center;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    align-items: center;
  }

  &__books-container {
    color: var(--gold-color);
    background-color: var(--background-color-2);
  }

  &__books {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 4rem;

    @media screen and (min-width: 600px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (min-width: 900px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media screen and (min-width: 1400px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
